body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: Black;
  color: white;
  height: 100vh;
  padding-top: 20px;
  box-sizing: border-box;
}

.sidebar a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover {
  background-color: #575757;
}

.main-content {
  flex-grow: 1;
  text-align: center;
  background-color: #2d2d4b;
  color: white;
}

.main-content p {
    max-width: 100ch;
    margin-right: auto;
    margin-left: auto;
}



